<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM</title>

    <link rel="stylesheet" href="style.css">

    <script src="https://unpkg.com/petite-vue" defer></script>
    <script src="main.js" defer></script>

    <script type="module" defer>
        import { createApp } from 'https://unpkg.com/petite-vue?module'

        const pluginController = EjsToObj("<%= pluginController %>")
        console.log(pluginController);

        createApp({
            plugins: pluginController.plugins
        }).mount()
    </script>
</head>
<body>
    <main v-scope>
        <section>f</section>
        <section>d</section>
    </main>
</body>
</html>